[submodule "ext/tclap"]
	path = ext/tclap
	url = https://git.code.sf.net/p/tclap/code
	branch = 1.4
[submodule "ext/openexr"]
	path = ext/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
	branch = RB-2.5
